$tipografia_principal: 'Gabarito', sans-serif;
$tipografia_secundaria: 'Courier New', Courier, monospace;
$tipografia-terciaria: 'Red Hat Display', sans-serif;

$color-principal: #ef43ef;


@keyframes cambio-color{
    0%{
        color: white;
    }
    25%{
        color: $color-principal;
    }
    50%{
        color: white;
    }
    75%{
        color: $color-principal;
    }
    100%{
        color: white;
    }
}